@model IEnumerable<HokaProvedorWeb.Models.ViewModels.ProveedorViewModel>


<div>
    <h2>Lista de Proveedores</h2>
    <form method="get">
        <!-- Filtros -->
        <input type="date" name="fechaInicio" />
        <input type="date" name="fechaFin" />
        <input type="text" name="proveedor" placeholder="Proveedor" />
        <button type="submit">Buscar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nombre Razon Social</th>
                <th>Importe</th>
                <th>Iva</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.NombreRazonSocial</td>
                    <td>@p.Importe</td>
                    <td>@p.Iva</td>
                    <td>@p.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>

