<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HokaProvedorWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
        }
        .sidebar {
            width: 250px;
            background-color: #343a40;
            height: 100vh;
            padding-top: 20px;
            color: white;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
        }
        .sidebar a:hover {
            background-color: #495057;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h3 class="text-center">HokaProvedorWeb</h3>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a asp-controller="Proveedor" asp-action="Proveedores">Proveedores</a>
        <a asp-controller="AltaProveedor" asp-action="AltaProveedor">Alta Proveedor</a>
        <a asp-controller="Concepto" asp-action="Concepto">Conceptos</a>
        <a asp-controller="ConsultaPago" asp-action="ConsultaPago">Consulta Pagos</a>
        <a asp-controller="Pago" asp-action="Pago">Pago</a>
        <a asp-controller="Pago" asp-action="TipoSolicitud">Pago-TipoSolicitud</a>
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
